/* TODO: cleanup styles */

.view-content--tilemap-editor {
  padding: 0 !important;
}

#tilemap-editor .tilemap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 1px greenyellow; /* only for developing purpose*/
}

#tilemap-editor {
  height: 100%;

  display: flex; /* 00001: tools sticks at bottom */
  flex-flow: column; /* 00001 */
}

#tilemap-editor .renderer {
  flex: 1; /* 00001 */
  overflow: scroll;
}

#tilemap-editor .renderer::-webkit-scrollbar {
  display: none;
}

#tilemap-editor .renderer--edit .cell:hover {
  cursor: pointer;
}

#tilemap-editor .space {
  position: relative;
}

#tilemap-editor .row {
  display: flex;
}

#tilemap-editor .cell {
  display: grid;
}

/* this is only needed for tile-stacking */
/* #tilemap-editor .cell > div {
  grid-row-start: 1;
  grid-column-start: 1;
} */

#tilemap-editor .tools {
  right: 0;
  z-index: 10;
  position: absolute;
}

#tilemap-editor .tools--active {
  width: 100%;
  background-color: rgba(40, 40, 40, 0.9);
}

#tilemap-editor .toolbar {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 10px;
  gap: 10px;
}

#tilemap-editor .toolbar-bar {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}

#tilemap-editor .tile-button-container {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 10px;
}

#tilemap-editor .tile-button {
  background-color: rgb(171, 113, 113);
  height: 45px;
  width: 45px;
  padding: 0;
  box-shadow: unset;
}

#tilemap-editor .tile-button--selected {
  background-color: rgb(210, 38, 38);
  box-shadow: inset 0 0 0 1px black;
}

#tilemap-editor .tile-button:hover {
  cursor: pointer;
}

#tilemap-editor .tile-button > div {
  height: 30px;
  width: 30px;
}

#tilemap-editor .edit-tile {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-top: 10px;
}

#tilemap-editor .edit-tile button {
  grid-column: span 2;
  cursor: pointer;
}

#tilemap-editor .edit-tile button.red:hover {
  background-color: red;
}

#tilemap-editor .edit-tile button.green:hover {
  background-color: green;
}

#tilemap-editor button.is-selected {
  background-color: rgb(210, 38, 38);
}
