.view-content-tilemap-editor {
  padding: 0 !important;
}

.view-content-tilemap-editor .tilemap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.view-content-tilemap-editor .tilemap-editor {
  height: 100%;

  display: flex;     /* 00001: tilemap-toolbar sticks at bottom */
  flex-flow: column; /* 00001 */
}

.view-content-tilemap-editor .tilemap-renderer {
  flex: 1;           /* 00001 */
  overflow: scroll;
}

.view-content-tilemap-editor .tilemap-renderer--edit .tilemap-cell:hover {
  cursor: pointer;
}

.view-content-tilemap-editor .tilemap-renderer section {
  display: flex;
  width: min-content;
  margin: auto;
}

.view-content-tilemap-editor .space-row {
  display: flex;
}

.view-content-tilemap-editor .space-cell {
  height: 30px;
  width: 30px;
  box-shadow: inset 0 0 0 1px rgb(67, 67, 67);
}