.view-content-tilemap-editor {
  padding: 0 !important;
}

.view-content-tilemap-editor .tilemap-editor {
  height: 100%;

  display: flex;     /* 00001: tilemap-toolbar sticks at bottom */
  flex-flow: column; /* 00001 */
}

.view-content-tilemap-editor .tilemap-renderer {
  flex: 1;           /* 00001 */
}

.view-content-tilemap-editor .tilemap  {
  width: min-content;
  margin: auto;
  padding: 20px;
}

.view-content-tilemap-editor .tilemap-renderer--edit .tilemap-cell:hover {
  cursor: pointer;
}