.view-content-tilemap-editor .tilemap-row {
  display: flex;
}

.view-content-tilemap-editor .tilemap-cell {
  display: grid;
}

/* this is only needed for tile-stacking */
/* .view-content-tilemap-editor .tilemap-cell > div {
  grid-row-start: 1;
  grid-column-start: 1;
} */
