.view-content-tilemap-editor {
  padding: 0 !important;
}

.view-content-tilemap-editor .tilemap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.view-content-tilemap-editor .tilemap-editor {
  height: 100%;

  display: flex;     /* 00001: tilemap-toolbar sticks at bottom */
  flex-flow: column; /* 00001 */
}

.view-content-tilemap-editor .tilemap-renderer {
  flex: 1;           /* 00001 */
  overflow: scroll;
}

.view-content-tilemap-editor .tilemap-renderer::-webkit-scrollbar {
  display: none;
}

.view-content-tilemap-editor .tilemap-renderer--edit .tilemap-cell:hover {
  cursor: pointer;
}

.view-content-tilemap-editor .tilemap-row {
  display: flex;
}

.view-content-tilemap-editor .tilemap-cell {
  display: grid;
}

/* this is only needed for tile-stacking */
/* .view-content-tilemap-editor .tilemap-cell > div {
  grid-row-start: 1;
  grid-column-start: 1;
} */

.view-content-tilemap-editor .tilemap-toolbar-overlay {
  width: 100%;
  z-index: 10;
  position: absolute;
}

.view-content-tilemap-editor .tilemap-toolbar-button-container {
  background-color: rgba(40, 40, 40, 0.7);
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.view-content-tilemap-editor .tilemap-toolbar-button {
  background-color: rgb(171, 113, 113);
  height: 45px;
  width: 45px;
  padding: 0;
  box-shadow: unset;
}